
/* Estilos para el diseño de la página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    height: 100vh;
}

button {
    background-color: rgb(63, 123, 178);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.3s;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja {
    background-color: rgb(255, 255, 255);
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

a {
    text-decoration: none;
    color: rgb(63, 123, 178);
    font-weight: 600;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/** SECCION SIDEBAR */
.sidebar {
    background-color: rgb(63, 123, 178);
    width: 260px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar h2 {
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
}

.sidebarList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebarElement {
    display: block;
    margin-bottom: 5px;
}

.sidebarElement a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 600;
    display: block;
    padding: 12px;
    transition: 0.3s;
}

.sidebarElement a:hover {
    background-color: rgb(34, 79, 121);
    border-radius: 5px;
}
/** Final SECCION SIDEBAR */

/*** SECCION CATEGORIES */

.ContainerCategories {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 40%;
    justify-content: center;
}


/*** Final SECCION CATEGORIES */

/** lista categorias */

.listaCategorias {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 40%;
}

/** final lista categorias */