
/* Estilos para el diseño de la página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    height: 100vh;
}

button {
    background-color: rgb(63, 123, 178);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.3s;
    border-radius: 4px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja {
    background-color: rgb(255, 255, 255);
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

a {
    text-decoration: none;
    color: rgb(63, 123, 178);
    font-weight: 600;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/** SECCION SIDEBAR */
.sidebar {
    background-color: rgb(63, 123, 178);
    width: 260px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar h2 {
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
}

.sidebarList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebarElement {
    display: block;
    margin-bottom: 5px;
}

.sidebarElement a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 600;
    display: block;
    padding: 12px;
    transition: 0.3s;
}

.sidebarElement a:hover {
    background-color: rgb(34, 79, 121);
    border-radius: 5px;
}
/** Final SECCION SIDEBAR */

/*** SECCION CATEGORIES */

.ContainerCategories {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 40%;
    justify-content: center;
}


/*** Final SECCION CATEGORIES */

/** lista categorias */

.listaCategorias {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    width: 40%;
}

.listaCategoriasUl{
    display: flex;
    gap: 10px;
    margin-top: 3px;
}

.categoriaItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.colorCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%  ;
    border: 1px solid black;
}

.buttonDelete button {
    background-color: rgb(255, 18, 18);
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 4px;
    
}

.categoriaItem .buttonDelete {
    margin-left: auto;
}

.buttonDelete button:hover {
    background-color: rgb(255, 197, 197);
    color: rgb(2, 1, 1);
    
}

.categoriaItem{
    background-color: rgba(202, 199, 199, 0.4);
    padding: 10px;
    border-radius: 5px;
}

/** final lista categorias */

/* Seccion tascas */
.formulari-tasca.caja {
    max-width: 450px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.camp-tasca {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.camp-tasca label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-tasca, 
.textarea-tasca, 
.data-tasca, 
.select-tasca {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.textarea-tasca {
    height: 100px;
    resize: vertical;
}

.boto-crear-tasca {
    width: auto;
    padding: 10px 20px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/**final seccion tascas */